/* Modal Responsiva */
.modal-content {
  padding: 20px; /* Adiciona espaçamento interno à modal */
}

.modal-body {
  max-height: 70vh; /* Limita a altura da modal */
  overflow-y: auto; /* Adiciona scroll vertical apenas na área do conteúdo */
  padding: 20px; /* Adiciona espaçamento interno nas laterais */
}

@media (max-width: 767px) {
  /* Para telas menores, ajustamos a largura das colunas */
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }

  /* Garante que os campos de formulário não fiquem colados às bordas */
  .modal-body {
    padding: 15px;
  }
  
  .modal-content {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .modal-content {
    width: 80%; /* Ajusta a largura da modal para telas maiores */
  }
}
