<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <!-- Logo com estilização -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="https://maxxiprintsuprimentos.com.br/assets/image/brand/logo.png" alt="Logo" class="navbar-logo">
      <span class="ms-2 fs-4">Visita Técnica</span> <!-- Nome da aplicação -->
    </a>
    
    <!-- Toggle Button (para mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links da navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/clientes">Clientes</a>
        </li>
        <!-- Adicione mais itens de navegação conforme necessário -->
      </ul>
    </div>
  </div>
</nav>
